---
import BtnLink from "../components/btnlink.astro"
import Layout from "../layouts/Layout.astro"
---




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
</head>
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        gap: 20px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 17px;
    }
</style>
<body>
    <h1>404</h1>
    <svg 
    width="80" 
    height="80"
     version="1.0" 
     viewBox="0 0 100 100">
        <path d="M45.5 12.4c-1.8 1.3-1.8 1.8-.6 8.7 2 11.8 2.2 11.1-4.1 14.4-3.1 1.7-6 3.4-6.4 3.8-1.1 1-3.3 19.2-3.4 27.4 0 3.9-.3 7.8-.6 8.7-1.2 3.1-2.4 1.6-2.4-2.9 0-2.9-.4-4.5-1.2-4.5-1 0-1.2 2.2-1 8.6.2 5.6 0 9-.8 9.8-.9.8-1.1-.1-.9-3.9.5-8.2 0-12.5-1.3-12.5-1 0-1.2 1.9-1 7.1.3 4.9 0 7.4-.8 7.9-1.5.9-.4 3 1.6 3 .8 0 1.4.4 1.4 1 0 .5.9 1 2 1 1.7 0 2-.7 2-4.6 0-4 .2-4.5 1.7-4 1 .4 4.5.4 7.9.1l6.1-.7 2.8-6.4c1.5-3.5 3.2-6.4 3.7-6.4s2.2 2.9 3.7 6.4l2.9 6.3 5.6.7c3.1.4 6.5.5 7.5.1 1.7-.5 2 0 2.3 3.7.2 2.8.8 4.4 1.8 4.6 1.3.2 1.5-1.5 1.5-10.8 0-9.8-.2-11-1.7-11s-1.8.9-1.8 4.5c0 4.7-1.2 5.8-2.9 2.7-.6-1.2-.6-3.4.1-6.3.6-2.5.7-7.6.3-11.9-.4-4.1-.6-9-.6-10.8.2-3.4-2.2-6.3-9.9-12.1-2.6-2-3-2.8-2.5-5 1.5-5.5 1.5-13.5-.1-15.8-1.7-2.7-7.8-3.2-10.9-.9zm-5.2 54c-.5 9-.9 10.6-2.2 10.4-1.4-.3-1.5-1.8-1.2-9.8.2-5.2.8-10.6 1.3-12 1.8-4.9 2.8.3 2.1 11.4zm23.1.4c-.1 5.1-.4 9.5-.6 9.8-.3.2-1-4.1-1.7-9.6-.8-7.7-.8-10.6.1-12.3l1.1-2.2.7 2.5c.3 1.4.6 6.7.4 11.8zM76 78.4c0 8.4 1 11 3.3 8.7.9-.9.9-1.4-.1-2-1-.6-1.3-2.8-1-8 .2-5.2 0-7.1-.9-7.1-1 0-1.3 2.4-1.3 8.4z"/>
        <path d="m48.3 76-2 4.5 3.4.3c1.9.2 3.7.1 3.9-.1.3-.2-.4-2.4-1.5-4.8l-1.9-4.4-1.9 4.5zm-30.9 3c0 4 .4 6 1.2 6 1.5 0 2.5-5.1 1.8-9-1.1-5.3-2.9-3.4-3 3zm62.3-3c-.8 3.9.2 9 1.8 9 .9 0 1.2-1.8 1.1-6-.1-6.4-1.9-8.2-2.9-3zM15 78.4c0 .8.5 1.8 1 2.1.6.3 1-.3 1-1.4 0-1.2-.4-2.1-1-2.1-.5 0-1 .6-1 1.4zm68 .6c0 1.9.3 2.1 1.2 1.2.9-.9.9-1.5 0-2.4-.9-.9-1.2-.7-1.2 1.2zm-52 5c0 .5.7.7 1.5.4.8-.4 1.5-.8 1.5-1 0-.2-.7-.4-1.5-.4s-1.5.4-1.5 1zm4.5.1c-.4.6-.4 1.3-.1 1.6.3.4.6.1.6-.6 0-.8.8-1.1 2-.8 1.1.3 1.8.1 1.4-.4-.7-1.2-3.1-1.1-3.9.2zm24.9.4c-.8 1.9.4 3.5 2.4 3.4 1.5-.1 1.5-.2 0-.6-1-.2-1.8-1.1-1.8-1.8s.8-1.6 1.8-1.8c1.6-.4 1.6-.5-.1-.6-1 0-2 .6-2.3 1.4zm4.6 0c0 1.4.6 2.1 2 2.1s2-.7 2-2.1c0-1.7-.2-1.7-1-.5-.9 1.3-1.1 1.3-2 0-.8-1.2-1-1.2-1 .5zm-33.3 2.6c.7.7 1.5 1 1.8.7.3-.3-.2-.9-1.2-1.2-1.4-.6-1.5-.5-.6.5zm5.8-.1c-1.6.7-1.7.9-.3.9.9.1 2-.4 2.3-.9.7-1.1.7-1.1-2 0z"/>
      </svg>
  <p>Crack no encontramos la pagina que buscas</p>


  
  <BtnLink
  href="/"
  title="¡Puedes ir a la pagina de inicio!"
  body="   "
  hoverStyle="hover-green"
  >  <svg  class="icon icon-tabler icon-tabler-arrow-move-right"
  width="36" 
  height="36"
  viewBox="0 0 24 24" 
  stroke-width="1.5"
  stroke="#ffffff" 
  fill="none" 
  stroke-linecap="round"
  stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M11 12h10"/>
  <path d="M18 9l3 3l-3 3"/>
  <path d="M7 12a2 2 0 1 1 -4 0a2 2 0 0 1 4 0z"/>
  </svg></BtnLink>  
</body>
</html>


