---
import Layout from '../layouts/Layout.astro';
import Calculadora from '../components/calculador.astro';

---

<Layout  title="Calculdora de calorias">



	<section>

<div class="div">
 

    <Calculadora/>
</div>
</section>

</Layout>

<style>
	section,
	aside{
		padding: 5px;
	}
</style>
