---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/footer.astro';
import Calculadora from '../components/calculador.astro';

// interface Props{
// title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body,  } = Astro.props;


---

<Layout  title="Tienda de suplementos">



	<section>
		<!-- <Card
		href="/index"
		title="Que trata Power Building 2.0"
		body="Power Bulding te ayuda a mejorar tu fisico verte mas estético, power building esta dedicado a persona con esa sed de superacion"
	/> -->




<div class="div">
 

    <Calculadora/>
</div>
</section>
</main>
</Layout>

<style>
	section,
	aside{
		padding: 5px;
	}
</style>
