---

---

<a href="#" class="shopping-cart" target="_blank">

      <svg class="icon icon-tabler icon-tabler-shopping-cart" 
      width="26"
       height="26" 
       viewBox="0 0 24 24" 
       stroke-width="1.5"
        stroke="#000" 
        fill="none"
         stroke-linecap="round"
          stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 17h-11v-14h-2" />
        <path d="M6 5l14 1l-1 7h-13" />
        </svg>
      
  </a>





  <style>
      .shopping-cart {
      position: fixed;
      top: 90px;
      right: 20px;
      background-color: #ffffff;
      color: white;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;  
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      text-decoration: none;
      font-size: 30px;
      z-index: 1;
      opacity: 0;
      transition: opacity .3s ease-out;

  }
  .shopping-cart.visible {
    opacity: 1;
  }
  </style>

<script>
const content = document.querySelector('.shopping-cart');

window.addEventListener('scroll', () => {
  const scrollTop = window.scrollY;
  const viewportHeight = window.innerHeight;
  const documentHeight = document.documentElement.scrollHeight;

  // 10% del alto de la página
  const scrollThreshold = documentHeight * 0.1;
  
    // 40% del 80% del alto de la página
  const fadeOutThreshold = scrollThreshold * 40;

  if (scrollTop >= scrollThreshold) {
    content.classList.add('visible');
  } else if (scrollTop <= fadeOutThreshold) {
    content.classList.remove('visible');
  }
});






  
</script>