---
console.log('hola')
---

<footer>
    <p>Copyright © 2024 JSS LZ | <a href="#">Política de privacidad</a> | <a href="#">Política de cookies</a> | <a href="#">Aviso legal</a> | <a href="#">Condiciones</a></p>
</footer>

<style>
  footer {
            background-color: #212121;
            /* background: linear-gradient(to top, black, rgb(47, 47, 47)); */
            background-color:  black;
            color: #ffffff;
            padding: 20px;
            text-align: center;
            overflow: hidden;
        }
        footer a {
            color: #ffffff;
            text-decoration: none;
            margin: 0 10px;
        }
        footer a:hover {
            text-decoration: underline;
        }
</style>

