---
console.log('hola')
---


<header>
	<div class="container-div-center"><img src="public/img/fit.svg" alt="">
	</div>
	
	<nav id="hamburguer" class="nav-destok nav-movil">
		<ul>
			<li class="item"> 
			  	<svg  class="icon icon-tabler icon-tabler-home-dot"
					width="36"
					 height="36" 
					 viewBox="0 0 24 24"
					  stroke-width="1.5" 
					  stroke="#ffffff"
					   fill="none" 
					   stroke-linecap="round" 
					   stroke-linejoin="round">
					   <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					   <path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5" />
					   <path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
					   <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.641 0 1.212 .302 1.578 .771" />
					 </svg>
				<a class="lis-item" href="/">
			
			Incio</a></li>
			<li class="item"> 
					
					<svg class="icon icon-tabler icon-tabler-shopping-cart-dollar"
					width="36"
					 height="36"
					  viewBox="0 0 24 24"
					   stroke-width="1.5" 
					   stroke="#fff" 
					   fill="none" 
					   stroke-linecap="round" 
					   stroke-linejoin="round">
					   <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					   <path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
					   <path d="M13 17h-7v-14h-2" />
					   <path d="M6 5l14 1l-.575 4.022m-4.925 2.978h-8.5" />
					   <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
					   <path d="M19 21v1m0 -8v1" />
					 </svg> 
					 <a class="lis-item" href="/store">Store</a></li>
			<li class="item">
				 
				<svg class="icon icon-tabler icon-tabler-calculator"
				 width="36" 
				 height="36"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="#ffffff"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M4 3m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
					<path d="M8 7m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" />
					<path d="M8 14l0 .01" />
					<path d="M12 14l0 .01" />
					<path d="M16 14l0 .01" />
					<path d="M8 17l0 .01" />
					<path d="M12 17l0 .01" />
					<path d="M16 17l0 .01" />
				  </svg>
				  <a class="lis-item" href="/Cc">Calculadora</a></li>
		</ul>
	</nav>



	<div id="div"class="container-div-center" >
		<svg  id="open"class="open-hamburger-movil"
		width="36" 
		height="36"
		 viewBox="0 0 24 24" 
		 stroke-width="1.5"
		  stroke="#000" 
		  fill="none" 
		  stroke-linecap="round" 
		  stroke-linejoin="round">
		   <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
		   <path d="M2 20h16" />
		   <path d="M5 12h16" />
		   <path d="M2 4h16" />
		 </svg>
		</div>




	<div id="div" class="container-div-center">
	    <svg  id="closed"class="closed-hamburger-movil"
         width="36" 
         height="36"
          viewBox="0 0 24 24" 
          stroke-width="1.5"
           stroke="#fff" 
           fill="none" 
           stroke-linecap="round" 
           stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path  d="M5 20h16" />
            <path  d="M2 12h16" />
            <path  d="M5 4h16" />
          </svg>
		</div>

</header>


<style>

	header{
		width: 100%;
		position: sticky;
		top: 0;
		height: 70px;
		background-color: #fff;
	    display: flex;
		justify-content: space-between;
		align-items:center;
		padding:0px 10px 0px 10px;
		box-sizing: border-box;		
		z-index: 999;
		box-shadow: 0px 0px 5px #333;


		.container-div-center{
		display: flex;
		align-items: center;

		img{
		width: 50px;
		background-size: contain;
	}
	}

		.nav-movil{
		background-color: #080808;
		width: 100%;
		max-width: 250px;
		height: 100dvh;
		position: fixed;
		top: 0;
		right: 0;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		display: flex;
		opacity: 0;
		align-items: start;
		transition: opacity .4s ease-in-out;
		pointer-events: none;
		transform: translateX(300px);
		transition: transform .5s ease-in-out;
		
		

		 ul{
		display: flex;
		justify-content:center ;
		flex-direction: column;
		align-items: start;
		width: 100%;
		margin-top: 80px;
		gap: 50px;
		list-style:none;
		

		li{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 1px 1px #999999;

		&:hover{
			scale: 1.03;
			background: #0c0c0c;
		}

		&:hover svg{
		stroke: #FFCC33;
	}

		a{
			width: 100%;
			text-align: center;	
			color: #fff;
			text-decoration: none;
			font-size: 20px;

			&:hover {
		color: #FFCC33;
	                
	                }
		          }
	            }
	          }
	       }
	
 }




 .open-hamburger-movil{
		position: absolute;
		background-color: none;
		right: 10px;
		border: none;
	     }

	.closed-hamburger-movil{
		position: absolute;
		right: 10px;
		display: none;
		border: none;

	
    }






	@media screen and (min-width: 768px) {

		header{
		width: 100%;
		position: sticky;
		top: 0;
		height: 70px;
		background-color: #fff;
	    display: flex;
		justify-content:space-between;
		align-items:center;
		padding:0px 10px 0px 10px;
		box-sizing: border-box;		
		z-index: 999;
		box-shadow: 0px 0px 5px #333;

		.nav-destok{
		background-color: transparent;
		max-width: 600px;
		height: auto;
		position: relative;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		display: flex;
		opacity: 1;
		align-items: center;
		transition:  none;
		pointer-events:auto;
		transform: translateX(0px);
	
		

		 ul{
		display: flex;
		justify-content:center ;
		flex-direction: row;
		align-items: center;
		width: 100%;
		margin-top: 0px;	

		 li {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: none;

		&:hover{
			background: none;
		}

		:hover svg{
		stroke: #FFCC33;
	}

		svg{
		stroke: #0c0c0c;
	}

	

		a{
			width: 100%;
			text-align: center;
			color: #222;
			text-decoration: none;
		    font-size: 17px;
		    font-weight: 500;

	
		
		}
	}	
}

}




.open-hamburger-movil{
		display: none;
	}

	.closed-hamburger-movil{
		display: none;
	}
	}

}	

</style>


<script src="/src/js/header.js"></script>