---

---

<header>
	<div class="container-div-center-logo">
		<svg 
		width="80" 
		height="80"
		 version="1.0" 
		 viewBox="0 0 100 100">
			<path d="M45.5 12.4c-1.8 1.3-1.8 1.8-.6 8.7 2 11.8 2.2 11.1-4.1 14.4-3.1 1.7-6 3.4-6.4 3.8-1.1 1-3.3 19.2-3.4 27.4 0 3.9-.3 7.8-.6 8.7-1.2 3.1-2.4 1.6-2.4-2.9 0-2.9-.4-4.5-1.2-4.5-1 0-1.2 2.2-1 8.6.2 5.6 0 9-.8 9.8-.9.8-1.1-.1-.9-3.9.5-8.2 0-12.5-1.3-12.5-1 0-1.2 1.9-1 7.1.3 4.9 0 7.4-.8 7.9-1.5.9-.4 3 1.6 3 .8 0 1.4.4 1.4 1 0 .5.9 1 2 1 1.7 0 2-.7 2-4.6 0-4 .2-4.5 1.7-4 1 .4 4.5.4 7.9.1l6.1-.7 2.8-6.4c1.5-3.5 3.2-6.4 3.7-6.4s2.2 2.9 3.7 6.4l2.9 6.3 5.6.7c3.1.4 6.5.5 7.5.1 1.7-.5 2 0 2.3 3.7.2 2.8.8 4.4 1.8 4.6 1.3.2 1.5-1.5 1.5-10.8 0-9.8-.2-11-1.7-11s-1.8.9-1.8 4.5c0 4.7-1.2 5.8-2.9 2.7-.6-1.2-.6-3.4.1-6.3.6-2.5.7-7.6.3-11.9-.4-4.1-.6-9-.6-10.8.2-3.4-2.2-6.3-9.9-12.1-2.6-2-3-2.8-2.5-5 1.5-5.5 1.5-13.5-.1-15.8-1.7-2.7-7.8-3.2-10.9-.9zm-5.2 54c-.5 9-.9 10.6-2.2 10.4-1.4-.3-1.5-1.8-1.2-9.8.2-5.2.8-10.6 1.3-12 1.8-4.9 2.8.3 2.1 11.4zm23.1.4c-.1 5.1-.4 9.5-.6 9.8-.3.2-1-4.1-1.7-9.6-.8-7.7-.8-10.6.1-12.3l1.1-2.2.7 2.5c.3 1.4.6 6.7.4 11.8zM76 78.4c0 8.4 1 11 3.3 8.7.9-.9.9-1.4-.1-2-1-.6-1.3-2.8-1-8 .2-5.2 0-7.1-.9-7.1-1 0-1.3 2.4-1.3 8.4z"/>
			<path d="m48.3 76-2 4.5 3.4.3c1.9.2 3.7.1 3.9-.1.3-.2-.4-2.4-1.5-4.8l-1.9-4.4-1.9 4.5zm-30.9 3c0 4 .4 6 1.2 6 1.5 0 2.5-5.1 1.8-9-1.1-5.3-2.9-3.4-3 3zm62.3-3c-.8 3.9.2 9 1.8 9 .9 0 1.2-1.8 1.1-6-.1-6.4-1.9-8.2-2.9-3zM15 78.4c0 .8.5 1.8 1 2.1.6.3 1-.3 1-1.4 0-1.2-.4-2.1-1-2.1-.5 0-1 .6-1 1.4zm68 .6c0 1.9.3 2.1 1.2 1.2.9-.9.9-1.5 0-2.4-.9-.9-1.2-.7-1.2 1.2zm-52 5c0 .5.7.7 1.5.4.8-.4 1.5-.8 1.5-1 0-.2-.7-.4-1.5-.4s-1.5.4-1.5 1zm4.5.1c-.4.6-.4 1.3-.1 1.6.3.4.6.1.6-.6 0-.8.8-1.1 2-.8 1.1.3 1.8.1 1.4-.4-.7-1.2-3.1-1.1-3.9.2zm24.9.4c-.8 1.9.4 3.5 2.4 3.4 1.5-.1 1.5-.2 0-.6-1-.2-1.8-1.1-1.8-1.8s.8-1.6 1.8-1.8c1.6-.4 1.6-.5-.1-.6-1 0-2 .6-2.3 1.4zm4.6 0c0 1.4.6 2.1 2 2.1s2-.7 2-2.1c0-1.7-.2-1.7-1-.5-.9 1.3-1.1 1.3-2 0-.8-1.2-1-1.2-1 .5zm-33.3 2.6c.7.7 1.5 1 1.8.7.3-.3-.2-.9-1.2-1.2-1.4-.6-1.5-.5-.6.5zm5.8-.1c-1.6.7-1.7.9-.3.9.9.1 2-.4 2.3-.9.7-1.1.7-1.1-2 0z"/>
		  </svg>
	</div>

	<nav id="hamburguer" class="nav-destok nav-movil">
		<ul>
			<li class="item">
				<svg
					class="icon icon-tabler icon-tabler-home-dot"
					width="36"
					height="36"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#fff"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5"></path>
					<path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
					<path
						d="M9 21v-6a2 2 0 0 1 2 -2h2c.641 0 1.212 .302 1.578 .771"
					></path>
				</svg>
				<a class="lis-item" href="/"> Incio</a>
			</li>
			<li class="item">
				<svg
					class="icon icon-tabler icon-tabler-shopping-cart-dollar"
					width="36"
					height="36"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#fff"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
					<path d="M13 17h-7v-14h-2"></path>
					<path d="M6 5l14 1l-.575 4.022m-4.925 2.978h-8.5"></path>
					<path
						d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
					></path>
					<path d="M19 21v1m0 -8v1"></path>
				</svg>
				<a class="lis-item" href="/store">Store</a>
			</li>
			<li class="item">
				<svg
					class="icon icon-tabler icon-tabler-calculator"
					width="36"
					height="36"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="#fff"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path
						d="M4 3m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
					></path>
					<path
						d="M8 7m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z"
					></path>
					<path d="M8 14l0 .01"></path>
					<path d="M12 14l0 .01"></path>
					<path d="M16 14l0 .01"></path>
					<path d="M8 17l0 .01"></path>
					<path d="M12 17l0 .01"></path>
					<path d="M16 17l0 .01"></path>
				</svg>
				<a class="lis-item" href="/CalorieCalculator">Calculadora</a>
			</li>
		</ul>
	</nav>

	<div id="div" class="container-div-center-icons">
		<svg
			id="open"
			class="open-hamburger-movil"
			width="36"
			height="36"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="#000"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M2 20h16"></path>
			<path d="M5 12h16"></path>
			<path d="M2 4h16"></path>
		</svg>
	
	
	
		<svg
			id="closed"
			class="closed-hamburger-movil"
			width="36"
			height="36"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="#fff"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M5 20h16"></path>
			<path d="M2 12h16"></path>
			<path d="M5 4h16"></path>
		</svg>
	</div>
</header>




<style>
	header {
		width: 100%;
		position: sticky;
		top: 0;
		height: 70px;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 10px 0px 10px;
		box-sizing: border-box;
		z-index: 999;
		box-shadow: 0px 0px 5px #333;

		.container-div-center-logo {
			display: flex;
			align-items: center;
		}

		.nav-movil {
			background-color: #080808;
			width: 100%;
			max-width: 250px;
			height: 100dvh;
			position: fixed;
			top: 0;
			right: 0;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			display: flex;
			opacity: 0;
			align-items: start;
			transition: opacity 0.4s ease-in-out;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
			pointer-events: none;
			transform: translateX(300px);
			transition: transform 0.5s cubic-bezier(0.98, 0.03, 0, 1.01);

			ul {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: start;
				width: 100%;
				margin-top: 80px;
				gap: 50px;
				list-style: none;

				li {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					box-shadow: 0px 1px 1px #999999;
					gap: 5px;

					&:hover svg {
						stroke: #333;
					}

					a {
						width: 100%;
						color: #fff;
						text-decoration: none;
						font-size: 20px;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}


	.open-hamburger-movil {
		position: absolute;
		top: 20px;
		background-color: none;
		display: flex;
		right: 0px;
		border: none;
		z-index: 999;
	}

	.closed-hamburger-movil {
		position: absolute;
		top: 20px;
		right: 0px;
		display: none;
		border: none;
		z-index: 999;
	}


	
	.container-div-center-icons {
			position: absolute;
			width: 100px;
			height: 100%;
			right: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
				}

	@media screen and (min-width: 768px) {
		header {
			width: 100%;
			position:sticky;
			top: 0;
			height: 70px;
			background-color: #fff;
			display: flex;
			justify-content:space-between;
			align-items: center;
			padding: 0px 10px 0px 10px;
			box-sizing: border-box;
			z-index: 999;
			box-shadow: 0px 0px 5px #333;

			
		.container-div-center {
			display: flex;
			width: 100px;
			align-items: center;
			justify-content: center;

			img {
				width: 50px;
				background-size: contain;
				background: #fff;
				border-radius: 100px;
			}
		}
			.nav-destok {
				background-color: transparent;
				max-width: none;
				width: 50%;
				height: auto;
				position: relative;
				border-radius: 0;
				
				opacity: 1;
				justify-content: flex-end;
				align-items: center;
				box-shadow: none;
				transition: none;
				pointer-events: auto;
				transform: translateX(0px);

				ul {
					display: flex;
					justify-content: space-between;
					flex-direction: row;
					width: 100%;
					margin-top: 0px;

					li {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						box-shadow: none;

	
						svg {
							stroke: #0c0c0c;
						}

						a {
							width: 100%;
							text-align: initial;
							color: #222;
							text-decoration: none;
							font-size: 17px;
							font-weight: 500;
						}
					}
				}
			}

			.open-hamburger-movil {
				display: none;
				
			}

			.closed-hamburger-movil {
				display: none;
			}
		}
	}
	
</style>

<script src="/src/js/header.js"></script>
